<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <!-- Navbar -->
      <app-navbar></app-navbar>

      <!-- middle-part -->
      <div class="container">
        <!-- left-part -->
        <app-left-sidebar></app-left-sidebar>

        <!-- middle-part -->
        <div class="main-content">
          <app-status-bar></app-status-bar>
          <div class="write-post-container">
            <div class="user-profile">
                <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png">
                <div>
                    <p>John Nicholson</p>
                    <small>Public <i class="fas fa-caret-down"></i></small>
                </div>
            </div>
            <div class="post-input-container">
                <textarea rows="3" placeholder="What's on your mind, John?"></textarea>
                <div class="add-post-links">
                    <a href="#"><img src="https://i.postimg.cc/QMD2BDXs/live-video.png">Live Video</a>
                    <a href="#"><img src="https://i.postimg.cc/6pKKZn0D/photo.png">Photo/Video</a>
                    <a href="#"><img src="https://i.postimg.cc/Pf6TBCdD/feeling.png">Feling/Activity</a>
                </div>
            </div>
        </div>
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
        </div>

        <!-- right-part -->
        <app-right-side-bar></app-right-side-bar>
      </div>
    </body>

</html>