<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>roger</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <!-- Navbar -->
      <app-navbar></app-navbar>

      <!-- middle-part -->
      <div class="container">
        <!-- left-part -->
        <app-left-sidebar></app-left-sidebar>

        <!-- middle-part -->
        <div class="main-content">
          <app-status-bar></app-status-bar>
          <app-new-post></app-new-post>
            <div class="all_post">
                <app-post class="all-post" [post]="posts[0]"></app-post>
        <app-post class="all-post" [post]="posts[1]"></app-post>
        <app-post class="all-post" [post]="posts[2]"></app-post>
        <app-post class="all-post" [post]="posts[3]"></app-post>
            </div>
        </div>

        <!-- right-part -->
        <app-right-sidebar></app-right-sidebar>
      </div>
    </body>

</html>